@import url('https://fonts.googleapis.com/css?family=Oswald');

body {

	margin 0 auto;
}

.content {
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-size:2em;
}

img {
	width: 100%;
}

h1 {
	color:orange;
}

span {
	font-size:1.4em;
}
